
.error-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: white;
  }
}