@import "../../../styles/variables.scss";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
  border-radius: 0.625rem;
  padding: 0.875rem 1.5rem 1.5rem 1.5rem;
  z-index: 10;
  background-color: $color-blue-1;
  width: 500px;
  max-width: 80%;

  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
  .modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 100%;

    .close-button {
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  .modal-body {
    .info {
      font-weight: weight(medium);
      line-height: 120%;
      font-size: 1.175rem;
      margin-bottom: 1rem;

      @media (min-width: $sm-breakpoint) {
        font-size: 1.375rem;
      }
    }

    .sub-text {
      font-weight: weight(regular);
      font-size: 0.875rem;
      font-weight: 400;
    }

    .allow {
      margin-top: 1.25rem;
    }

    button {
      padding: 0.625rem 0.625rem;
      background-color: #6095ef42;
    }
  }
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
